@model IEnumerable<MvcLoja.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a class="btn-voltar" asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                    <a class="btn-voltar" asp-action="Edit" asp-route-id="@item.ProdutoID">Editar</a> |
                    <a class="btn-voltar" asp-action="Details" asp-route-id="@item.ProdutoID">Detalhes</a> |
                    <a class="btn-voltar" asp-action="Delete" asp-route-id="@item.ProdutoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
